<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frameperfect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GameActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".CharacterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GameActivity">
        </activity>

        <activity android:name=".MoveActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CharacterActivity">
        </activity>

        <activity android:name=".MoveDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MoveActivity">
        </activity>
    </application>

</manifest>